BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true

ColumnLimit: 0

IndentCaseLabels: true
IndentCaseBlocks: false

SortIncludes: true
